<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../store.css">
<title>Discontinued Sodas</title>
</head>
<body class="LoginPage">

<div class= "header">
<h1>Discontinued Sodas Store</h1>
</div>

<div class="LoginForm">
<form action="../../businessService/Register.php"method="get">
Username: <input type="text" name="username"><br>
Password: <input type="password" name="password"><br>
Pin: <input type="number" name="pin"><br>
E-Mail: <input  type="text" name="email"><br>
<button type="submit" name="register">Register</button>
<p>Already have an account?<a href="../../Index.html">Click here</a></p>
</form>
</div>
</body>
</html>